{% extends 'common/base.html' %}
{% block heading %}<h2> Welcome {{ user.username }} , Your Posted Jobs </h2>{% endblock heading %}
{% block content %}
{% for job in jobs %}
<p> {{ job.title }} - {{ job.description }} - {{ job.location }} - Posted at {{ job.posted_at }} </p>
<ul>
{% for application in job.applications.all%}
<li> Application : {{ application.applicant.username }} - Status : {{ application.status }} </li>
{% endfor %}
</ul>
{% endfor %}
<!-- Pagination -->
    <div class="pagination">
        {% if page_obj.has_previous %}                
            <a href="?page=1">First</a>
            &nbsp;
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            &nbsp;
        {% endif %}
        <span><b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </b> </span>
        {% if page_obj.has_next %}
            &nbsp; 
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            &nbsp; 
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% include 'auth/logout.html' %}
{% endblock content %}